
body{
    
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}
.fullhouse{
    display: flex;
    position:relative;
    gap:1000px;
    align-items:first baseline;

}
.container1{
    
    display: inline-flex;
    flex-direction: column;
    gap:50px;
    height:100%;
    
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    
    
    
    
    
    flex-basis: content;
    position:absolute;
    
    
    background-color: #dddddd08;
    

}
.one{
    margin-top:12px;
    font-size: large;
    color: white;
    padding-left: 15px;
    box-shadow:2px 2px blue;
    
    
}
.homepic{
    margin-bottom:2px;
}


.two{
    font-size: large;
    color: white;
    padding-left: 15px;
    box-shadow:2px 2px blue;
}
.interestpic{
    margin-bottom:2px;
}
.three{
    font-size: large;
    color: white;
    padding-left: 15px;
    box-shadow:2px 2px blue;

}
.projectpic{
    margin-bottom:4px;
}
.four{
    font-size: large;
    color: white;
    padding-left: 15px;
    box-shadow:2px 2px blue;
}
.academicspic{
    margin-bottom:2px;
}
.five{
    font-size: large;
    color: white;
    padding-left: 15px;
    box-shadow:2px 2px blue;
}
.achievementspic{
    margin-bottom:2px;
}
.six{
    font-size: large;
    color: white;
    margin-bottom: 12px;
    
}




span{
    
    text-shadow:2px 2px 5px #f38c06;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 500 px ;
    text-indent: 0cqmax;

    
    
}
.alignment{
    display: inline-flexbox;
    width:700px;
    height: 600px;
    margin-left:400px;
    margin-top:7%;
    margin-bottom:7%;
    border: 0.5em solid white;

    
    
}

img{
    align-self: center;
    border-radius:10px;
    margin-top:20px;
    border-radius:100px;
    box-shadow: #0f0c29;
}
        
.image{
    margin-right:20px;
    box-shadow: #0f0c29;
}
.aboutme{
    margin-top:10px;
    margin-right:20px;

}



  






